$color-background-sidebar: #a08891;
$color-main-text-primary: #32021f;
$color-main-link-secondary: #27061a;
$color-global-default: #afbdcc;
$color-global-text-primary: #27061a;
$color-global-text-secondary: #4b2e39;
$color-text-accent: #77a0a9;
$color-border-primary: #34282d;
